<!DOCTYPE html>
<html>
    <head>
        <title>My Father info</title>
    </head>
    <body>
        <h1>Relation : Father</h1>
        <h2>Name : {{name}}</h2>
        <h2>Age : {{age}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://pps.whatsapp.net/v/t61.24694-24/301738448_186862183758054_2185911682766834839_n.jpg?ccb=11-4&oh=01_AVw_QxG7CDoVSWqkEbye4SKctaKGhheW4XUKhN2sDXUA5Q&oe=6358CDE2" alt = "Reference your father's image present in the static folder" width = "200"/>
    </body>
</html>