<!DOCTYPE html>
<html>
    <head>
        <title>My Mother info</title>
    </head>
    <body>
        <h1>Relation : Mother</h1>
        <h2>Name : {{name}}</h2>
        <h2>Age : {{age}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://imgix.bustle.com/uploads/getty/2022/2/25/59bcef24-120c-4206-8ba6-3576dfccf8ed-getty-1369926717.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg" alt = "Reference your mothers image present in the static folder" width = "200"/>
    </body>
</html>